<!DOCTYPE html>
<html lang="es">
    <head>
        {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='axon17.css') }}">
        <title>{% block title %}AXON{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <form method="POST">
            <div class="general">
                <div class="perfil">
                    <div class="cerrarSesionAdmin">
                        <p class="adminTexto">ADMIN</p>
                        <input class="buttonCerrarAdmin" name="cerrarSesion" type="submit" value="Cerrar Sesion">
                    </div>
                </div>
                <div class="titulo">
                    <h1 class="tituloAxon">AXON</h1>
                </div>
                <div class="navAdmin">
                    <a href="/grupoAdmin">Grupos</a>
                    <p>|</p>
                    <a href="/usuarioAdmin">Usuarios</a>
                    <p>|</p>
                    <a href="/crearPreguntasAdmin">Crear Preguntas</a>
                    <p>|</p>
                    <a href="/preguntasAdmin">Modificar Preguntas</a>
                    <p>|</p>
                    <a href="/tematicaAdmin">Tematicas</a>
                </div>
                <div class="principal">
                    <div class="agregaTematica">
                        <p class="pTematica">Agrega una nueva tematica:</p>
                        <input class="valor" type="text" name="textoNuevaTematica" size="20">
                    </div>
                    <div class="agregaTematica">
                        <input class="buttonJugar" name="agregarTematica" type="submit" value="Agregar Tematica">
                    </div>
                    <div class="error">
                        <p>{{error}}{{mensajeControl}}</p>
                    </div>
                </div>
            </div>
        </form>
        {% endblock %}
    </body>
</html>




