<!DOCTYPE html>
<html lang="es">
    <head>
        {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='axon16.css') }}">
        <title>{% block title %}AXON{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <form method="POST">
            <div class="general">
                <div class="perfil">
                    <a href="/perfil"><img class="imagenPerfil" src="static/imagenes/perfil.png" /></a>
                </div>
                <div class="titulo">
                    <h1 class="tituloAxon"><a class="textoTituloAxon" href="/principal">AXON</a></h1>
                </div>
                <div class="principal">
                    <div class="cambioClave">
                        <p>Introduce la clave actual:</p>
                        <input class="valor" type="password" name="textoClaveActual" size="20">
                    </div>
                    <div class="cambioClave">
                        <p>Introduce la nueva clave:</p>
                        <input class="valor" type="password" name="textoClaveNueva" size="20">
                    </div>
                    <div class="cambioClave">
                        <input class="buttonJugar" name="cambiarClave" type="submit" value="Cambiar Clave">
                    </div>
                    <div class="error">
                        <p>{{error}}{{mensajeControl}}</p>
                    </div>
                </div>
            </div>
        </form>
        {% endblock %}
    </body>
</html>



