<!DOCTYPE html>
<html lang="es">
    <head>
        {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='axon3.css') }}">
        <title>{% block title %}AXON{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <form method="POST">
            <div class="general">
                <div class="perfil">
                    <a href="/perfil"><img class="imagenPerfil" src="static/imagenes/perfil.png" /></a>
                </div>
                <div class="titulo">
                    <h1 class="tituloAxon"><a class="textoTituloAxon" href="/principal">AXON</a></h1>
                </div>
                <div class="principal">
                    <div class="añadirAmigo">
                        <p>Agrega un amigo:</p>
                    </div>
                    <div class="añadirAmigo">
                        <input class="valor" type="text" name="textoAgregarAmigo" size="20">
                        <input class="buttonJugar" name="aregarAmigo" type="submit" value="Agregar">
                    </div>
                    <div class="error">
                        <p>{{error}}</p>
                    </div>
                    <div class="tablas">
                        <div class="tablaAmigos">
                            {% for x in range(0,lenghtAmigos) -%}
                                <p>{{arrayAmigos[x][0]}}</p>
                            {% endfor %}
                        </div>
                        <div class="tablaMedias">
                            {% for x in range(0,lenghtAmigos) -%}
                                <p>{{arrayPuntuacionAmigos[x]}}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </form>
        {% endblock %}
    </body>
</html>


