<!DOCTYPE html>
<html lang="es">
    <head>
        {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='axon6.css') }}">
        <title>{% block title %}AXON{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <div class="general">
            <div class="titulo">
                <h1 class="tituloAxon"><a class="textoTituloAxon" href="/">AXON</a></h1>
            </div>
            <div class="principal">
                <form class="formulario" method="POST">
                
                <div class="nombreClave">
                    <p class="tema">Nombre: </p>
                    <input class="cajaTexto" type="text" name="nombre">
                </div>
                
                <div class="nombreClave">
                    <p class="tema">Clave: </p>
                    <input class="cajaTexto" type="password" name="clave">
                </div>
                
                <div class="loginRegister">
                    <p class="res"><input class="buttonJugar" name=login type="submit" value=login></p>
                    <p class="res"><input class="buttonJugar" name=register type="submit" value=register></p>
                </div>
                {% if error!="" %}
                    <p class="error">{{error}}</p>
                {% endif %}
                </form>
            </div>
        </div>
        {% endblock %}
    </body>
</html>





