<!DOCTYPE html>
<html lang="es">
    <head>
        {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='axon14.css') }}">
        <title>{% block title %}AXON{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <form method="POST">
            <div class="general">
                <div class="perfil">
                    <div class="cerrarSesionAdmin">
                        <p class="adminTexto">ADMIN</p>
                        <input class="buttonCerrarAdmin" name="cerrarSesion" type="submit" value="Cerrar Sesion">
                    </div>
                </div>
                <div class="titulo">
                    <h1 class="tituloAxon"><a class="textoTituloAxon" href="/grupoAdmin">AXON</a></h1>
                </div>
                <div class="principal">
                    <div class="tabla">
                        <p class="nombreGrupo">{{nombreGrupo}}</p>
                    </div>
                    <div class="tablaCambioNombre">
                        <input class="valor" type="text" placeholder="{{nombreGrupo}}" name="nombreGrupoNuevo" size="20">
                        <input class="buttonJugar" name="cambiarNombre" type="submit" value="Cambiar Nombre">
                    </div>
                    <div class="tabla">
                        <p>{{error}}{{mensajeControl}}</p>
                    </div>
                    {% for x in range(0,lenghtUsarioGrupoPuntuacion) %}
                    <div class="tabla">
                        <div class="contenedor">
                            <p>{{arrayUsuario[x]}}</p>
                        </div>
                        <div class="contenedor">
                            <p>{{arrayPuntuacion[x]}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </form>
        {% endblock %}
    </body>
</html>
