<!DOCTYPE html>
<html lang="es">
    <head>
        {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='axon7.css') }}">
        <title>{% block title %}AXON{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <form method="POST">
            <div class="general">
                <div class="perfil">
                    <a href="/perfil"><img class="imagenPerfil" src="static/imagenes/perfil.png" /></a>
                </div>
                <div class="titulo">
                    <h1 class="tituloAxon"><a class="textoTituloAxon" href="/principal">AXON</a></h1>
                </div>
                <div class="principal">
                    <div class="tabla">
                        <input class="buttonJugar" name="crearGrupo" type="submit" value="Crear Grupo">
                    </div>
                    <div class="tabla">
                        <div class="contenedor">
                            <p class="cabecera">Grupo</p>
                        </div>
                        <div class="contenedor">
                            <p class="cabecera">Puntuacion</p>
                        </div>
                        <div class="contenedor">
                            <p class="cabecera">Ver Grupo</p>
                        </div>
                        <div class="contenedor">
                            <p class="cabecera">Juega</p>
                        </div>
                        <div class="contenedor">
                            <p class="cabecera">Salir</p>
                        </div>
                    </div>    
                    {% for x in range(0,lenghtGrupoPuntuacion) -%}
                        <div class="tabla">
                            <div class="contenedor">
                                <p>{{arrayGrupo[x]}}</p>
                            </div>
                            <div class="contenedor">
                                <p>{{arrayPuntuacion[x]}}</p>
                            </div>
                            <div class="contenedor">
                                <input class="buttonJugar" name={{x}} type="submit" value="Ver Grupo">
                            </div>
                            <div class="contenedor">
                                <input class="buttonJugar" name={{x}} type="submit" value="Jugar">
                            </div>
                            <div class="contenedor">
                                <input class="buttonJugar" name={{x}} type="submit" value="Salir del Grupo">
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </form>
        {% endblock %}
    </body>
</html>



