@import 'base.css';

.form-section {
    width: 100%;
    max-width: 500px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 2rem;
    border-radius: 10px;
    border: 2px solid white;
    margin: 2rem 0;
}

h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}
