html
{
    background-image: linear-gradient(rgba(150, 0, 0, 0.7), rgba(150, 0, 0, 0.7)), url(imagenes/backgroundTexture.jpg);
}
a
{
    color: white;
    text-decoration: none;
}
p
{
    color:white;
}
.titulo
{
    display: flex;
    flex-direction: column;
    color: white;
}
.tituloAxon
{
    padding-left: 1em;
    padding-right: 1em;
    align-self: center;
    color: white;
    margin: 0px;
    font-size: 4rem;
}
.textoTituloAxon
{
    color: white;
    font-size: 4rem;
    
}
.general
{
    display: flex;
    flex-direction: column;
}
.principal
{
    display: flex;
    flex-direction: column;
}
.tema
{
    align-self:center;
    font-size:3rem;
}
.res
{
    align-self:center;
    font-size:1.5rem;
}
.buttonJugar {
    background-color:#000000;
    border-radius:10px;
    border:2px solid #ffffff;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:1.2rem;
    font-weight:bold;
    padding:5px 15px;
    text-decoration:none;
}
.buttonJugar:hover {
    background-color: white;
    color: black;
}
.buttonJugar:active {
    position:relative;
    top:1px;
}
.formulario
{
    display: flex;
    flex-direction: column;
}

.filtro
{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-self:center;
    font-size:1.2rem;
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
}
.preguntaContenedor
{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self:center;
    font-size:1.2rem;
}
.preguntaBoton
{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-left:4rem;
    margin-right:4rem;
}
.error
{
    display:flex;
    justify-content:center;
    font-size:2rem;
}
.navAdmin
{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    font-size:1.8rem;
    margin-top:2rem;
    margin-bottom:2rem;
    align-items: center;
}
.perfil
{
    justify-content: end;
    direction: rtl;
}
.filtroContenedor
{
    display:flex;
    justify-content:center;
    width: 33%;
}
.buttonCerrarAdmin {
    background-color:#000000;
    border-radius:10px;
    border:2px solid #ffffff;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:1rem;
    font-weight:bold;
    padding:5px 20px;
    text-decoration:none;
}
.buttonCerrarAdmin:hover {
    background-color: white;
    color: black;
}
.buttonCerrarAdmin:active {
    position:relative;
    top:1px;
}
.cerrarSesionAdmin
{
    display:flex;
    flex-direction:column;
    align-items: center;
    width: 11rem;
}

.adminTexto
{
    font-size: 1.4rem;
    margin: 0rem;
}
input[type=text] {
    border-radius: 10px;
    border: 2px solid white;
    background: rgba(0,0,0,0.0);
    color: white;
    padding-left: 0.4rem;
    font-size: 0.95rem;
}
.buttonModificar {
    background-color:#000000;
    border-radius:10px;
    border:2px solid #ffffff;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:1.2rem;
    font-weight:bold;
    padding:5px 15px;
    text-decoration:none;
    margin-bottom:2rem;
}
.buttonModificar:hover {
    background-color: white;
    color: black;
}
.buttonModificar:active {
    position:relative;
    top:1px;
}
select
{
    border-radius: 10px;
    border: 2px solid white;
    background: rgba(0,0,0,0.0);
    color: white;
    padding-left: 0.4rem;
    font-size: 0.95rem;
}
option
{
    background-color: black;
    color: white;
    font-size: 0.95rem;
}
.buttonFiltrar {
    background-color:#000000;
    border-radius:10px;
    border:2px solid #ffffff;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:1.2rem;
    font-weight:bold;
    padding:5px 15px;
    text-decoration:none;
}
.buttonFiltrar:hover {
    background-color: white;
    color: black;
}
.buttonFiltrar:active {
    position:relative;
    top:1px;
}