{% extends "base.html" %}
{% import "components/navbar.html" as nav %}
{% import "components/forms.html" as forms %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/change_password.css') }}">
{% endblock %}

{% block content %}
<form method="POST">
    <div class="container">
        {{ nav.render_navbar(current_user) }}
        
        <div class="main">
            <h2>Change Password</h2>
            
            <div class="form-section">
                {{ forms.render_input('old_password', 'Current Password', type='password', required=True) }}
                {{ forms.render_input('new_password', 'New Password', type='password', required=True) }}
                {{ forms.render_button('change_password', 'Change Password', style='primary') }}
            </div>
            
            {{ forms.render_message(error_message, 'error') }}
            {{ forms.render_message(control_message, 'success') }}
        </div>
    </div>
</form>
{% endblock %}
